<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">

<!-- 회원가입 -->
<!-- 아이디 중복체크 (count가 0이면 중복x) -->
<select id="memberIdCheck" resultType="int" parameterType="string">
  SELECT COUNT(*) FROM project_member
  WHERE id=#{id} 
</select>

<!-- 이메일 중복체크 -->
<select id="memberEmailCheck" resultType="int" parameterType="string">
  SELECT COUNT(*) FROM project_member
  WHERE email=#{email} 
</select>

<!-- 전화번호 중복체크 -->
<select id="memberTelCheck" resultType="int" parameterType="string">
  SELECT COUNT(*) FROM project_member
  WHERE tel=#{tel} 
</select>

<!-- 
ID       NOT NULL VARCHAR2(20)  
PWD      NOT NULL VARCHAR2(10)  
NAME     NOT NULL VARCHAR2(34)  
SEX               VARCHAR2(10)  
BIRTHDAY NOT NULL VARCHAR2(30)  
EMAIL             VARCHAR2(100) 
POST     NOT NULL VARCHAR2(20)  
ADDR1    NOT NULL VARCHAR2(200) 
ADDR2             VARCHAR2(200) 
TEL               VARCHAR2(30)  
CONTENT           CLOB          
ADMIN             CHAR(1)       
LOGIN             CHAR(1)    
 -->
<!-- 가입 -->
<!-- <insert id="memberInsert" parameterType="MemberVO">
  INSERT INTO project_member(id, pwd, name, sex, birthday, email, post, addr1, addr2, tel, content)
  VALUES(
  	#{id},
  	#{pwd},
  	#{name},
  	#{sex},
  	#{birthday},
  	#{email},
  	#{post},
  	#{addr1},
  	#{addr2},
  	#{tel},
  	#{content}
  )
</insert> -->
<insert id="memberInsert" parameterType="MemberVO">
     INSERT INTO project_member(id,pwd,name,sex,birthday,email,post,addr1,addr2,tel,content)
     VALUES(
       #{id},
       #{pwd},
       #{name},
       #{sex},
       #{birthday},
       #{email},
       #{post},
       #{addr1},
       #{addr2},
       #{tel},
       #{content}
     )
</insert>

<!-- 로그인 -->
<!-- id 존재여부 확인 (0 => 없음, 1 => 있음) -->
<select id="memberIdCount" resultType="int" parameterType="string">
  SELECT COUNT(*)
  FROM project_member
  WHERE id=#{id}
</select>
<!-- 비밀번호 읽기 -->
<select id="memberInfoData" resultType="MemberVO" parameterType="string">
  SELECT pwd, id, name, admin
  FROM project_member
  WHERE id=#{id}
</select>

<!-- 회원 정보 읽기 -->
<select id="memberDetailData" resultType="MemberVO" parameterType="string">
  SELECT * FROM project_member
  WHERE id=#{id}
</select>

<!-- 회원 수정 -->
<update id="memberUpdate" parameterType="MemberVO">
  UPDATE project_member SET
  name=#{name}, sex=#{sex}, post=#{post}, email=#{email}, addr1=#{addr1}, addr2=#{addr2}, tel=#{tel}, content=#{content}
  WHERE id=#{id}
</update>

<!-- 아이디 찾기 -->

<!-- 비밀번호 찾기 -->

<!-- 회원 탈퇴 -->
<delete id="memberDelete" parameterType="string">
  DELETE FROM project_member
  WHERE id=#{id}
</delete>

</mapper>