.u-block-9065-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9065-3 {
  position: absolute;
  left: 0;
}

.u-block-9065-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 500px;
}.u-section-2 .u-sheet-1 {
  min-height: 194px;
}

.u-section-2 .u-text-1 {
  margin: 100px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 22px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 841px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-4 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-6 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 48px auto 42px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  background-image: none;
  width: 420px;
  left: 510px;
  top: 463px;
  margin: 19px 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  width: 420px;
  left: 510px;
  top: 547px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  width: 420px;
  left: 510px;
  top: 585px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-3 .u-image-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -133px;
  }

  .u-section-3 .u-image-2 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -133px;
  }

  .u-section-3 .u-image-3 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -133px;
  }

  .u-section-3 .u-image-4 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -133px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 423px;
  }

  .u-section-3 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -242px;
  }

  .u-section-3 .u-image-2 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -242px;
  }

  .u-section-3 .u-image-3 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -242px;
  }

  .u-section-3 .u-image-4 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -242px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -434px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -434px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -434px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -434px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -259px;
  }

  .u-section-3 .u-image-2 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -259px;
  }

  .u-section-3 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -259px;
  }

  .u-section-3 .u-image-4 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -259px;
  }

  .u-section-3 .u-text-14 {
    width: 340px;
  }

  .u-section-3 .u-text-15 {
    width: 340px;
  }

  .u-section-3 .u-text-16 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 636px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  width: 451px;
  margin: 99px auto 0;
}

.u-section-4 .u-list-1 {
  width: 655px;
  margin: 22px auto 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 54px;
  grid-auto-columns: calc(20% - 17.6px);
  grid-template-columns: calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px);
  grid-gap: 22px 22px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-btn-5 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.u-section-4 .u-gallery-1 {
  height: 312px;
  grid-gap: 17px 17px;
  margin: 26px auto 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 17.6px));
  }

  .u-section-4 .u-gallery-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 180px;
    grid-auto-columns: calc(33.333333333333336% - 14.666666666666666px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.666666666666666px));
  }

  .u-section-4 .u-gallery-1 {
    height: 469px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 334px;
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-4 .u-gallery-1 {
    height: 791px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2316px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-gallery-1 {
    height: 1992px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 194px;
}

.u-section-5 .u-text-1 {
  margin: 100px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 22px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 841px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-image-1 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-6 .u-icon-1 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-image-2 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-6 .u-icon-3 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-image-3 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-6 .u-icon-4 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-6 .u-image-4 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-6 .u-icon-6 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-13 {
  margin: 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 48px auto 42px;
}

.u-section-6 .u-text-14 {
  font-size: 1.25rem;
  background-image: none;
  width: 420px;
  left: 510px;
  top: 463px;
  margin: 19px 0 0;
}

.u-section-6 .u-text-15 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  width: 420px;
  left: 510px;
  top: 547px;
  margin: 20px 0 0;
}

.u-section-6 .u-text-16 {
  width: 420px;
  left: 510px;
  top: 585px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-6 .u-image-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -133px;
  }

  .u-section-6 .u-image-2 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -133px;
  }

  .u-section-6 .u-image-3 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -133px;
  }

  .u-section-6 .u-image-4 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -133px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 423px;
  }

  .u-section-6 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -242px;
  }

  .u-section-6 .u-image-2 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -242px;
  }

  .u-section-6 .u-image-3 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -242px;
  }

  .u-section-6 .u-image-4 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -242px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -434px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -434px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -434px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -434px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -259px;
  }

  .u-section-6 .u-image-2 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -259px;
  }

  .u-section-6 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -259px;
  }

  .u-section-6 .u-image-4 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -259px;
  }

  .u-section-6 .u-text-14 {
    width: 340px;
  }

  .u-section-6 .u-text-15 {
    width: 340px;
  }

  .u-section-6 .u-text-16 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 432px;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-1 {
  height: 110px;
  width: 1600px;
  margin: 60px 0 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-gap: 25px 25px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-1 {
  margin: -100px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 10px auto 79px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-7 .u-gallery-1 {
    height: 65px;
    width: 940px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(8, auto);
  }

  .u-section-7 .u-text-1 {
    margin-top: -55px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-7 .u-gallery-1 {
    height: 199px;
    width: 720px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-7 .u-text-1 {
    margin-top: -189px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-7 .u-gallery-1 {
    height: 597px;
    width: 540px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-text-1 {
    margin-top: -587px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1826px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1504px;
    width: 340px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-text-1 {
    margin-top: -1494px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 194px;
}

.u-section-8 .u-text-1 {
  margin: 100px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 0 auto 22px 0;
}.u-section-9 .u-sheet-1 {
  min-height: 841px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-9 .u-image-1 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-9 .u-icon-1 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-image-2 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-9 .u-icon-3 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-9 .u-image-3 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-9 .u-icon-4 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-9 {
  margin: 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-9 .u-image-4 {
  height: 366px;
  margin: 1px 0 0;
}

.u-section-9 .u-icon-6 {
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -346px 20px 0 auto;
  padding: 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 322px auto 0 0;
}

.u-section-9 .u-text-11 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-9 .u-text-12 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-13 {
  margin: 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 48px auto 42px;
}

.u-section-9 .u-text-14 {
  font-size: 1.25rem;
  background-image: none;
  width: 420px;
  left: 510px;
  top: 463px;
  margin: 19px 0 0;
}

.u-section-9 .u-text-15 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  width: 420px;
  left: 510px;
  top: 547px;
  margin: 20px 0 0;
}

.u-section-9 .u-text-16 {
  width: 420px;
  left: 510px;
  top: 585px;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-9 .u-image-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-top: -133px;
  }

  .u-section-9 .u-image-2 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-3 {
    margin-top: -133px;
  }

  .u-section-9 .u-image-3 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-4 {
    margin-top: -133px;
  }

  .u-section-9 .u-image-4 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-6 {
    margin-top: -133px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 423px;
  }

  .u-section-9 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-top: -242px;
  }

  .u-section-9 .u-image-2 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-3 {
    margin-top: -242px;
  }

  .u-section-9 .u-image-3 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-4 {
    margin-top: -242px;
  }

  .u-section-9 .u-image-4 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-6 {
    margin-top: -242px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-top: -434px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-3 {
    margin-top: -434px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-4 {
    margin-top: -434px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    height: 454px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-6 {
    margin-top: -434px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-top: -259px;
  }

  .u-section-9 .u-image-2 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-3 {
    margin-top: -259px;
  }

  .u-section-9 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-4 {
    margin-top: -259px;
  }

  .u-section-9 .u-image-4 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-6 {
    margin-top: -259px;
  }

  .u-section-9 .u-text-14 {
    width: 340px;
  }

  .u-section-9 .u-text-15 {
    width: 340px;
  }

  .u-section-9 .u-text-16 {
    width: 340px;
  }
}